/*------------------- CSS RESET -----------------------*/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 20px;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight:normal;
    background-color: #fff;
    line-height: 20px;
}

/*----------------- TYPOGRAPHY ------------------------*/


h1 { /*FEEL LIKE A RESIDENT*/
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: white;
    line-height: 55px;
    padding-bottom: 40px;}

p { font-family: 'raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    line-height: 23px;}

p2 { font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: white;
    line-height: 23px;}

h2 { /*Hidden is a travel ...*/
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
    line-height: 70px;}

h3 { /*HEADINGS*/
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;}

h4 { /*SUB HEADINGS*/
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 25px;}

h5 { /*SUB SUB HEADINGS*/
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 60px;}


/*------------------- LINKS ----------------------------*/

a { color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
}

.button {
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background-color: #D16E10;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0,0,0, 0.3);
    transition: all 0.3s ease 0s;
} 

.button:hover {
  transform: translateY(-5px);
} 

.button2 {
    margin-top: 20px;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #D16E10;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0,0,0, 0.3);
    transition: all 0.3s ease 0s;
} 

.button2:hover {
  transform: translateY(-5px);
} 

/*------------------ NAVIGATION -------------------------*/

nav {
    display: grid;
    z-index:1;
    grid-template-columns: 15% 85%;
    grid-template-areas: 
    "navlogo navlinks";
    background-color: #fff;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);}

.navlogo {
    grid-area: navlogo;
    padding:  10px 0px 5px 130px;}


.navlinks {
    grid-area: navlinks;
    text-align: right;
    padding:  5px 130px 10px 0px;}

nav a:link {color: #fff}

nav a:visited {color: #fff;}

nav a:hover {
    -webkit-transition: all 0.2s ease-in;}

/*------------------ HEADER GRID -------------------------*/

.headergrid {
    display: grid;
    padding: 140px 90px 130px 130px;
    background-repeat: no-repeat;
    background-image: url(Background.png);
    background-size: cover;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "headertext headerimg";}

.headertext {grid-area: headertext;
    padding: 60px 0px 0px 0px;}

.headerimg {grid-area: headerimg;
    padding: 40px 0px 0px 30px;}

.GooglePlay {padding-left: 20px;}

/*------------------ FEATURES GRID -------------------------*/


.featuresgrid1 {
    display: grid;
    padding: 90px 130px 0px 130px;
    background-color:#24798B; 
    grid-template-columns: 40% 30% 30%;
    grid-template-areas: 
    "header header header"
    "feature1img feature1mockup1 feature1mockup2"
    "feature1text feature1mockup1 feature1mockup2";}

.header {grid-area: header;}
.feature1img {grid-area: feature1img;
    padding: 70px 0px 0px 0px;}
.feature1text {grid-area: feature1text;
    padding: 0px 110px 20px 0px;}


.feature1mockup1 {grid-area: feature1mockup1;
    padding: 50px 0px 0px 0px;}
.feature1mockup2 {grid-area: feature1mockup2;
    padding: 50px 0px 0px 0px;}


.featuresgrid2 {
    display: grid;
    padding: 60px 130px 0px 130px;
    background-color:#96D9ED; 
    padding-top: 30px;
    grid-template-columns: 40% 30% 30%;
    grid-template-areas: 
    "feature2img feature2mockup1 feature2mockup2"
    "feature2text feature2mockup1 feature2mockup2"
    "feature3img feature3mockup1 feature3mockup2"
    "feature3text feature3mockup1 feature3mockup2";}


.feature2img {grid-area: feature2img;
    padding: 70px 0px 0px 0px;}
.feature2text {grid-area: feature2text;
    padding: 0px 100px 20px 0px;}

.feature2mockup1 {grid-area: feature2mockup1;
    padding: 50px 0px 0px 0px;}
.feature2mockup2 {grid-area: feature2mockup2;
    padding: 50px 0px 0px 0px;}


.featuresgrid3 {
    display: grid;
    padding: 60px 130px 0px 130px;
    background-color:#F0B278; 
    padding-top: 30px;
    grid-template-columns: 40% 30% 30%;
    grid-template-areas: 
    "feature3img feature3mockup1 feature3mockup2"
    "feature3text feature3mockup1 feature3mockup2";}

.feature3img {grid-area: feature3img;
    padding: 70px 0px 0px 0px;}
.feature3text {grid-area: feature3text;
    padding: 0px 100px 20px 0px;}

.feature3mockup1 {grid-area: feature3mockup1;
    padding: 50px 0px 0px 0px;}
.feature3mockup2 {grid-area: feature3mockup2;
    padding: 50px 0px 0px 0px;}


/*------------------ SOUVENIR GRID -------------------------*/

.souvenirsgrid {
    display: grid;
    background-color:#96D9ED; 
    padding: 90px 0px 90px 130px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "souvenirtext"
    "souvenirimg";}

.souvenirtext {grid-area: souvenirtext;}
.souvenirimg {grid-area: souvenirimg;}

/*------------------ TRENDING GRID -------------------------*/

.trendingsection{
    padding: 60px 130px;}

.trendinggrid {
    display: grid;
    padding: 30px 0px;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "positano bali bahamas"
    "newyork iceland dubai";}

.positano {grid-area: positano;
    box-shadow: 1px 2px 10px rgba(0,0,0, 0.2);
    border-radius: 0px 0px 5px 5px;}
.bali {grid-area: bali;
    box-shadow: 1px 2px 10px rgba(0,0,0, 0.2);
    border-radius: 0px 0px 5px 5px;}
.bahamas {grid-area: bahamas;
    box-shadow: 1px 2px 10px rgba(0,0,0, 0.2);
    border-radius: 0px 0px 5px 5px;}
.newyork {grid-area: newyork;
    box-shadow: 1px 2px 10px rgba(0,0,0, 0.2);
    border-radius: 0px 0px 5px 5px;}
.iceland {grid-area: iceland;
    box-shadow: 1px 2px 10px rgba(0,0,0, 0.2);
    border-radius: 0px 0px 5px 5px;}
.dubai {grid-area: dubai;
    box-shadow: 1px 2px 10px rgba(0,0,0, 0.2);
    border-radius: 0px 0px 5px 5px;}


.trending1img {grid-area: trending1img;}
.trending2img {grid-area: trending2img;}
.trending3img {grid-area: trending3img;}
.trending4img {grid-area: trending4img;}
.trending5img {grid-area: trending5img;}
.trending6img {grid-area: trending6img;}

.trending1text {grid-area: trending1text; height: 90px; padding: 0px 20px;}
.trending2text {grid-area: trending2text; height: 90px; padding: 0px 20px;}
.trending3text {grid-area: trending3text; height: 90px; padding: 0px 20px;}
.trending4text {grid-area: trending4text; height: 90px; padding: 0px 20px;}
.trending5text {grid-area: trending5text; height: 90px; padding: 0px 20px;}
.trending6text {grid-area: trending6text; height: 90px; padding: 0px 20px;}

/*------------------ SOUVENIR GRID -------------------------*/

.downloadgrid {
    display: grid;
    background-color:#F0B278;
    padding: 60px 130px;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "downloadtext downloadimg";}

.downloadtext {grid-area: downloadtext;}
.downloadimg {grid-area: downloadimg;}

/*-------------------- FOOTER ----------------------*/

.fa {
    padding:10px;
    margin: 0px 20px;
    color: #fff;
    font-size: 28px;
    width: 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #D16E10;
    box-shadow: 1px 2px 5px rgba(0,0,0, 0.3);
}

.fa:hover {
    color: white;
    transform: translateY(-5px); transition-timing-function: ease-in-out; cursor: pointer;
} 
